// vertical rhythm

body * + * {
  margin-top: 1.5em;
}


// Size Modifieres
.full-width {
  margin-left: -50%;
  margin-right: -50%;
}

// NOTE: full-height and half-height are handled via the full_height script

.centered {
  text-align: center;
}

.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}
