<script type="ld-conf">
  {
    "label": "Teaser",
    "properties": ["position"],
    "directives": {
      "link": {
        "prefill": {
          "title": {
            "key": "title",
            "provider": "iframely"
          },
          "site": {
            "key": "site",
            "provider": "iframely"
          },
          "author": {
            "key": "author",
            "provider": "iframely"
          },
          "image": {
            "key": "image",
            "provider": "iframely"
          }
        }
      },
      "image": {
        "imageRatios": ["16:9"],
        "allowOriginalRatio": false
      }
    }
  }
</script>

<div class="teaser">
  <a doc-link="link">
    <div class="teaser__image container image-container" doc-image="image">
      <div class="image--overlay"></div>
    </div>
    <div class="teaser__text">
      <div>
        <h3><span doc-editable="author" doc-optional></span> <span class="source" doc-editable="site" doc-optional></span></h3>
      </div>
      <h2 doc-editable="title"></h2>
    </div>
  </a>
</div>
