<script type="ld-conf">
  {
    "label": "Top Row"
  }
</script>

<div class="top-row">
  <div class="top-row__item">
    <div class="top-row__content top-row__content--latest">
      <h2 class="latest__title">Latest News</h2>
      <a href="#" class="latest__item">
        <div class="latest__headline">Luke Cage isn’t just about a bulletproof black man. It’s also a story
         about the fragility of black life.</div>
        <small class="latest__time">1 minute ago</small>
      </a>
      <a href="#" class="latest__item">
        <div class="latest__headline">Luke Cage isn’t just about a bulletproof black man. It’s also a story
         about the fragility of black life.</div>
        <small class="latest__time">1 minute ago</small>
      </a>
      <a href="#" class="latest__item">
        <div class="latest__headline">Luke Cage isn’t just about a bulletproof black man. It’s also a story
         about the fragility of black life.</div>
        <small class="latest__time">1 minute ago</small>
      </a>
      <a href="#" class="latest__item">
        <div class="latest__headline">Luke Cage isn’t just about a bulletproof black man. It’s also a story
         about the fragility of black life.</div>
        <small class="latest__time">1 minute ago</small>
      </a>
      <a href="#" class="latest__item">
        <div class="latest__headline">Luke Cage isn’t just about a bulletproof black man. It’s also a story
         about the fragility of black life.</div>
        <small class="latest__time">1 minute ago</small>
      </a>
    </div>
  </div>
  <a href="#" class="top-row__item top-row__article">
    <div class="top-row__content">
      <div class="teaser-tag">Featured</div>
      <div class="headline-wrap">
        <div class="headline">
          How Donald Trump may have avoided 18 years of federal taxes, explained with a simple cartoon
        </div>
      </div>
      <div class="author">By <span class="author__name">Michael More Sanderson</span></div>
    </div>
  </a>
  <a href="#" class="top-row__item top-row__article">
    <div class="top-row__content">
      <div class="headline-wrap">
        <div class="headline">
          Let’s dispel with this notion that Donald Trump knows what he’s doing
        </div>
      </div>
      <div class="author">By <span class="author__name">Thomas Mitchell</span></div>
    </div>
  </a>
  <a href="#" class="top-row__item top-row__article">
    <div class="top-row__content">
      <div class="headline-wrap">
        <div class="headline">
          In conversation with Junot Díaz: on the force field of privilege and the power of art
        </div>
      </div>
      <div class="author">By <span class="author__name">Laura Hawkins</span></div>
    </div>
  </a>
</div>
