<script type="ld-conf">
  {
    "label": "Top Row",
    "directives": {
      "latest-news": {
        "service": "list",
        "defaultParams": {
          "count": 5
        }
      },
      "top-teasers": {
        "service": "list",
        "config": {
          "minCount": 3,
          "maxCount": 3
        }
      }
    }
  }
</script>

<div class="teaser-row">
  <div class="teaser-row__item teaser-row__item--high teaser-row__item--gray">
    <div class="teaser-row__inside teaser-row__inside--latest">
      <div class="teaser-latest__title">Latest News</div>
      <div doc-include="latest-news">
        <div class="placeholder">
        </div>
      </div>
    </div>
  </div>
  <div doc-include="top-teasers">
    <div class="placeholder--top-teasers"></div>
  </div>
</div>
