<script type="ld-conf">
  {
    "label": "Top Row",
    "directives": {
      "latest-news": {
        "service": "list",
        "defaultParams": {
          "count": 5
        }
      },
      "top-teasers": {
        "service": "list",
        "config": {
          "minCount": 3,
          "maxCount": 3
        }
      }
    }
  }
</script>

<div class="top-row">
  <div class="top-row__item">
    <div class="top-row__content top-row__content--latest">
      <h3 class="latest__title">Latest News</h3>
      <div doc-include="latest-news">
        <div class="placeholder">TODO: create icon</div>
      </div>
    </div>
  </div>
  <div doc-include="top-teasers">
    <div class="placeholder">TODO: create icon</div>
  </div>
</div>
