@mixin image-container {
  .image-container {
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: inherit;
  }
}

@mixin ratio-height($ratio) {
  height: 0;
  padding-bottom: $ratio;
}
