<script type="ld-conf">
{
  "name": "Large Image",
  "styles": [
    {
      "name": "Fixed Background",
      "type": "option",
      "value": "peephole"
    }
  ]
}
</script>


<div class="hero">
  <figure>
    <div class="container image-container" doc-image="image">
      <div class="base-layout middle-text full-height">
        <figcaption class="inverted centered">
          <h1 doc-editable="title">
            Title
          </h1>
          <h2 doc-editable="subtitle">
            Explain in more detail what this article is all about
          </h2>
          <p doc-editable="text">
            Author, city, date or source
          </p>
        </figcaption>
      </div>
    </div>
  </figure>
</div>
