.embed {
  color: $light-black-color;
  border: 1px dashed $light-black-color;
  box-sizing: border-box;
}

.embed-container {
  @include rhythm(1);

  &.right {
    @include breakpoint($medium-screen) {
      @include span(3 at 4);
      margin-left: gutter();
    }
    clear: right;
  }

  &.left {
    @include breakpoint($medium-screen) {
      @include span(3);
    }
    @include breakpoint($large-screen) {
      @include span(2);
    }
    clear: left;
  }

  &.middle {
    @include breakpoint($large-screen) {
      @include squish(1);
    }
  }
}
