body {
  @extend .layout;
  padding: $body-padding;
  overflow-x: hidden; /* Hide horizontal scrollbar caused by 100vw elements */

  .base-layout {
    @extend .layout;
    width: 90%;
  }
}
.layout {
  @include container(6/4 * $text-width);
}
