// Define vertical rhythm
$base-font-size: 18px;
$base-line-height: 26px; /* 20px x 1.4 line-height */
$body-padding: 0 .72222rem;

// Characters per line
$text-width: 61ch;

// Fonts
$font-sans-serif: "Helvetica Neue", Helvetica, sans-serif;
$font-serif: Georgia, Times, serif;
$font-color: lighten(black, 20%);

//Colors
$livingdocs-color: #29b96f;
$upfront-color: $livingdocs-color;
$light-black-color: lighten(black, 10%);

// Grid (Susy)
// See here for options: http://susydocs.oddbird.net/en/latest/settings/
//$columns: susy-get(columns, $span) !global;
$columns: 6;
$susy: (
  columns: $columns,
);
