//Start counter at new list item group
:not(.list-item) {
  & + .list-item {
    counter-reset: item;
  }
}

.list-item {

  & + & {
    @include leader(-1);
  }

  display: list-item;
  list-style-type: none;
  counter-increment: item;

  padding-left: 2ch;
  position: relative;

  &:after {
    content: counter(item) '. ';
    // content: counter(item, upper-roman) '. ';
    position: absolute;
    top: 0;
    left: 0;
  }

  &.bullet:after {
    content: '–';
  };

}
