hr.separator {
  @include rhythm(1, 2);
  border: none;
  height: 1px;
  clear: both;

  &:before {
    content: '';
    display: block;
    @include squish(2.5);
    border-top: 1px solid $font-color;
  };
}
