.top-row {
  font-family: $font-sans-serif;
  @include breakpoint($medium-screen) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.top-row__item {
  width: 100%;
  margin-bottom: 1em;
  background-color: #f1f3f2;
  @include breakpoint($medium-screen) {
    height: 500px;
    width: 48%;
  }
  @include breakpoint($large-screen) {
    height: 600px;
    width: 23.5%;
  }
}

.top-row__article {
  display: flex;
  align-items: flex-end;
  background-image: url('../assets/images/mountains.jpg');
  background-size: cover;
  background-position: center;
  &:hover {
    .headline {
      background-color: $livingdocs-color;
    }
  }
}

.top-row__content {
  padding: 3em 1em;
  line-height: 1.15;
  @include breakpoint($medium-screen) {
    padding: 0 1em 1.5em;
  }
}

.top-row__content--latest {
  @include breakpoint($small-screens) {
    padding: 0 1em 1em;
  }
}

.latest__item {
  display: block;
  margin-bottom: 1em;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2;
  color: $font-color;
}

.latest__title {
  display: inline-block;
  margin-left: 0;
  margin-right: 0;
  font-family: $font-serif;
  font-style: italic;
  background-color: $livingdocs-color;
  line-height: .6;
}

.latest__headline {
  margin-bottom: .25em;
}

.latest__time {
  text-transform: uppercase;
  color: gray;
}

.featured {
  display: inline;
  margin-bottom: .5em;
  padding-left: .5em;
  padding-right: .5em;
  background-color: $livingdocs-color;
  color: white;
  font-family: $font-serif;
  font-weight: bold;
  font-style: italic;
}

.headline-wrap {
  display: block;
  margin-top: .5em;
  margin-bottom: .5em;
}

.headline {
  display: inline;
  padding: 0 8px;
  background-color: $font-color;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  -webkit-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;
}

.author {
  display: inline;
  padding: 0 8px;
  margin-top: .25em;
  background-color: $font-color;
  color: white;
  font-size: .875rem;
  -webkit-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;
}
